.topcoat-switch__toggle:before {
  content: '借帐';
}
.topcoat-switch__toggle:after {
  content: '帮付';
}

.topcoat-text-input {
  width: 130px;
}


.title {
  text-align: center;
}

.header,.topcoat-button-bar {
  margin: 10px auto;
  max-width: 300px;
}
.list {
  .header {
    max-width: 300px;
  }
}
.detail {
  .header {
    max-width: 230px;
  }
}


.topcoat-list__container {
  li {
    position: relative;

    a {
      position: absolute;
      top: 40px;
      right: 10px;
    }
  }
}


[kj-money] {
  span {
    margin-right: 5px;
    color: green;

    &.warn {
      color: red;
    }
  }
}
